body { 
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px; 
}

#file-list { padding: 10px; border: 1px solid #ccc; }
.file-item { margin-bottom: 10px; }
.folder { cursor: pointer; }
.folder::before { content: "📁 "; }
.file::before { content: "🗎️ "; }